body {
  overflow: hidden;
}

#main-image,
#diff-image {
  max-width: unset;
  max-height: unset;

  position: absolute;
  top: 0;
  left: 0;
  transform-origin: top left;
}

#controls {
  z-index: 10;
  cursor: pointer;
  position: absolute;
  left: 0;
  bottom: 4px;
  padding: 0 4px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  place-items: center left;
}

#control-spacer {
  flex: 2;
}

#scale-indicator {
  text-align: right;
  flex-grow: 0;
  flex-basis: 200px;
  mix-blend-mode: difference;
}

#sync-checkbox,
#diff-checkbox {
  display: none;
}

#diff-image {
  display: none;
}

.with-diff #sync-checkbox,
.with-diff #diff-checkbox {
  display: inline-flex;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
}

#error {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  font-size: 16px;
}

#error-icon {
  font-size: 26px;
}
