.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/*.mjs
node_modules/**
.yarn
.yarnrc.yml
.nvmrc
.dependencygraph/**
*.metafile.json
