#main-image,
#diff-image {
  max-width: unset;
  max-height: unset;

  position: absolute;
  top: 0;
  left: 0;
  transform-origin: top left;
}

#controls {
  z-index: 10;
  cursor: pointer;
  position: absolute;
  bottom: 4px;
  left: 4px;
  width: 50%;
}

#sync-checkbox,
#diff-checkbox,
#diff-image {
  display: none;
}